#daily-main {
    margin-left: 17%;
    /* border: 1px solid black; */
}

.daily-form-boxone {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 1200px;
    margin-left: 0px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px 20px;
}

.daily-form-boxtwo {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 1200px;
    margin-left: 0px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px 20px;
}

.daily-form-boxthree {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 1200px;
    margin-left: 0px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px 20px;
}